@use '../libs' as *;

.email-main {
    grid-column: 2;

    .scroll {
        overflow: scroll;
        height: 86vh;
    }

    .actions {
        // float: top;
        // position: absolute;
        @include flex-center;
        color: getColor(side-icon);
        padding: 15px 20px;

        .left-actions {
            @include flex-center;
            margin-right: auto;

            & > * {
                margin-right: 30px;
            }
        }

        .right-actions {
            & > * {
                margin-right: 30px;
            }
        }
    }

    .filters {
        background-color: getColor(em_bg);
        display: flex;
        height: 60px;
        align-items: center;
        margin-right: $em-right-marg;
        // margin-top: 35px;
        border-bottom: 1px solid getColor(outline-em);

        .filter {
            position: relative;
            color: getColor(filter);
            width: 24%;
            height: 100%;

            i {
                margin: 22px 0;
                margin-left: 15%;
            }

            .filter-title {
                position: relative;
                margin-left: 20px;
            }

            .new {
                font-size: 80%;
                margin-left: 8px;
                padding: 1px 4px;
                border-radius: 2px;
                color: getColor(fg);

                &#social-new {
                    background-color: getColor(bl);
                }
                &#promo-new {
                    background-color: getColor(gr);
                }
                &#update-new {
                    background-color: getColor(org);
                }
            }

            .underline {
                position: absolute;
                bottom: 0px;
                // bottom: -21px;
                height: 5px;
                width: 90%;
                margin-left: 5%;
                background-color: getColor(rd);
                overflow: hidden;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                opacity: 0;
                // &#pri-under {
                //     opacity: 1;
                // }
                &:nth-of-type(1) {
                    opacity: 1;
                }
            }

            &:first-of-type {
                color: getColor(rd);
            }

            &:hover {
                // background-color: green;
                background-color: getColor(filter-hover-bg);
            }
        }
    }

    .emails {
        margin-right: $em-right-marg;
        font-family: Arial, Helvetica, sans-serif;
        .email {
            position: relative;
            display: flex;
            align-items: center;
            background-color: getColor(em_bg);
            padding: 15px;
            border-bottom: 1px solid getColor(outline-em);

            .email-sender {
                position: absolute;
                margin-left: 8%;
                font-weight: bold;
            }
            .email-title {
                position: absolute;
                margin-left: 28%;
                font-weight: bold;
            }

            .email-time {
                font-weight: bold;
                font-size: 80%;
                margin-left: auto;
            }

            .email-actions {
                position: absolute;
                display: flex;
                justify-content: space-between;
                color: getColor(filter);
                font-size: 120%;
                width: 10%;
                right: 20px;
                opacity: 0;
            }

            transition: all 0.2s;
            &:hover {
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13),
                    0 -2px 2px rgba(0, 0, 0, 0.13);
                z-index: 10;

                & > .email-actions {
                    opacity: 1;
                }
                & > .email-time {
                    opacity: 0;
                }
            }
        }
    }
}
