@use '../libs' as *;

.header {
    display: grid;
    grid-template-columns: $header-widths;
    // justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid getColor(outline);
    padding: 7px 7px 7px 15px;
    color: getColor(fg);

    & > * {
        cursor: pointer;
    }

    .head-left {
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: min-content;

        & > * {
            padding: 12px;
        }

        i {
            font-size: 130%;
        }

        .brand-name {
            font-size: 150%;
            padding-left: 8px;
        }

        img {
            height: 30px;
        }
    }

    .head-center {
        grid-column: 2;
        .searchBar {
            background-color: getColor(search);
            height: 100%;
            width: 50vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            i {
                padding: 0 25px;
                font-size: 120%;
            }

            .left-search {
                @include flex-center;
                input {
                    background-color: getColor(transp);
                    color: getColor(fg);
                    border: none;
                    width: 40vw;
                    height: 50px;
                    outline: none;
                    font-size: 110%;

                    &::placeholder {
                        color: getColor(placehold);
                    }
                }
            }
        }
    }

    .head-right {
        grid-column: 3;
        @include flex-center;
        justify-content: space-between;
        width: 13vw;
        padding-right: 10px;
        // float: right;
        margin-left: auto;

        i {
            font-size: 130%;
        }

        img {
            height: 35px;
            border-radius: 50%;
        }
    }
}
