.email-main
    .actions
        .left-actions
            input(type="checkbox", name="")
            i.fas.fa-redo-alt
            i.fas.fa-ellipsis-v
        .right-actions
            .count 1-50 of 250
            i.fas.fa-chevron-left
            i.fas.fa-chevron-right
    
    .filter-btns
        .filter
            i.fas.fa-inbox
            .filter-title Primary
            .underline
        .filter
            i.fas.fa-user-friends
            .filter-title Social
            .underline
        .filter
            i.fas.fa-tag
            .filter-title Promotions
            .underline
        .filter
            i.fas.fa-info-circle
            .filter-title Updates
            .underline

    .emails
        .email
            input(type="checkbox", name="")
            i.far.fa-star
            .email-sender Mom
            .email-title Title of Email
            .email-time 9:42 AM
            .email-actions
                i.fas.fa-archive
                i.fas.fa-trash
                i.fas.fa-envelope-open
                i.fas.fa-clock
