.header 
    .head-left
        i.fas.fa-bars
        img(src="imgs/gmail-icon.png", alt="gmail-icon")
        .brand-title Gmail
    .head-center
        .searchBar
            .fas.fa-search
            input(type="text", placeholder = "Search")
    .head-right