.header 
    .head-left
        i.fas.fa-bars
        img(src="imgs/gmail-icon.png" alt="gmail-icon")
        .brand-name Gmail
    .head-center
        .searchBar
            .left-search
                i.fas.fa-search
                input(type="text", placeholder = "Search mail")
            i.fas.fa-caret-down
    .head-right
        //- .right-contents
        i.far.fa-question-circle
        i.fas.fa-cog
        i.fas.fa-th
        img(src="imgs/fox.jpg" alt="user-icon")