.header 
    .head-left
        i.fas.fa-bars
        img(src="imgs/gmail-icon.png", alt="gmail-icon")
        .brand-title Gmail
    .head-center
        .searchBar
            .fas.fa-search
            input(type="text", placeholder = "Search")
            .fas.fa-caret-down
    .head-right
        .far.fa-question-circle
        .fas.fa-cog
        .fas.fa-th
        img(src="imgs/fox.jpg", alt="user-icon")