.side-bar

    .compose
        .compose-btn Compose

    .mail-folders
        .folder
            i.fas.fa-inbox
            .folder-name Inbox
            .cont-num 5
        .folder
            i.fas.fa-star
            .folder-name Starred
            .cont-num 5
        .folder
            i.fas.fa-clock
            .folder-name Snoozed
            .cont-num 5
        .folder
            i.fas.fa-tag
            .folder-name Important
            .cont-num 5
        .folder
            i.fas.fa-paper-plane
            .folder-name Sent
            .cont-num 5

    .meet-box
        .head Meet
        .start-meet
            i.fas.fa-video
            .start-text Start a Meeting
        .join-meet
            i.fas.fa-keyboard
            .start-text Join a Meeting

    .hangouts
        .head Hangouts
        .my-user
            .user-online
                img(src="imgs/fox.jpg", alt="fox")
                .online-green
            .user-name David Corson
            i.fas.fa-caret-down
        
        .friend1
            .friend-icon
            .user-name David Corson

    .footer-icons
        i.fas.fa-user
        i.fas.fa-quote-right
        i.fas.fa-phone
