.side-bar

    .compose
        .compose-btn
            img(src="imgs/google-compose.png", alt="plus")
            //- i.compose-icon.fas.fa-plus#plus
            .compose-text Compose

    .mail-folders
        .folder
            i.fas.fa-inbox
            .folder-name Inbox
            .cont-num 5
        .folder
            i.fas.fa-star
            .folder-name Starred
            .cont-num 
        .folder
            i.fas.fa-clock
            .folder-name Snoozed
            .cont-num 4
        .folder
            i.fas.fa-tag
            .folder-name Important
            .cont-num 19
        .folder
            i.fas.fa-paper-plane
            .folder-name Sent
            .cont-num 23
        .folder
            //- i.fas.fa-paper-plane
            .folder-name Spam
            .cont-num 67
        .folder
            //- i.fas.fa-paper-plane
            .folder-name All Mail
            .cont-num 230

    .meet-box
        .head Meet
        .start-meet
            i.fas.fa-video
            span.folder-name Start a Meeting
        .join-meet
            i.fas.fa-keyboard
            span.folder-name Join a Meeting

    .hangouts
        .head Hangouts
        .my-user
            .user-online
                img(src="imgs/fox.jpg", alt="fox")
                .online-green
            .user-line
                .user-info 
                    span.user-name David Corson
                    i.fas.fa-caret-down
                i.fas.fa-plus
        
        .friend
            .friend-icon
                .icon AB
            .user-info 
                .user-name Andrew Banes
                .last-msg Nice talking to you!

    .footer-icons
        i.fas.fa-user
        i.fas.fa-quote-right
        i.fas.fa-phone
